/* ----------------------------------------------- */
/* color:#33b5e5 */
/* ----------------------------------------------- */
@import url("sticky.css");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
*:focus {outline: none;}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
h4 {
    font-size: 16px;
    color: #666;
    margin: 0 0 10px;
}
/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.btn-primary,.btn-active {
    color: #fff ;
    background: #27b3e6
}
.section-cal {
    padding-top: 20px;
    margin-bottom: 25px;
}
.active {
    display: inline-block;
}
.height-fixer {
    height: 100px;
}

.height-fixer1 {
    height: 33px;
}
.disable {
    display: inline-block;
}
.padding-fixer {
    padding: 2px 0;
}
.padding-fixer-top {
    padding-top: 30px;
}
.margin-fixer {
    margin-top: 10px;
    margin-bottom: 10px;
}
section {
    padding: 80px 0;
}
.box {
    padding: 1%;
}
/*scroll-bar override*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #33b5e5;
}
.text-center {
    text-align: center;
    vertical-align: middle;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #27b3e6;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.long-copy--about--us {
	
    text-align: justify;
	
	line-height: 135%;
    margin-top: 1%;
    margin-left:5%;
	margin-right:5%;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #27b3e6;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #27b3e6;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main navi */
.main-nav {
    font-size: 180%;
	float: right;
    list-style: none;
	-webkit-transform: translateX(5%);
	transform: translateX(5%);
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #27b3e6;
}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* ----------------------------------------------- */
/* Section--1 Rnge  */
/* ----------------------------------------------- */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #d3d3d3;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 25px; /* Specified height */
      -webkit-appearance: none;
      color: #33b5e5;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
       width: 15px; /* Set a specific slider handle width */
      -webkit-appearance: none;
      height: 25px; /* Specified height */
      cursor: pointer;
      background: #434343;
      box-shadow: -100vw 0 0 100vw  #33b5e5;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #33b5e5; 
}
input[type="range"]::-moz-range-track {  
  background-color: #d3d3d3;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #33b5e5; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #d3d3d3;
}    
.input-text-fixer {
    text-align: right;
}
.input-text {
    text-align: right;
    border: none;
    border-bottom: 3px solid #33b5e5;
}

  .rs{ width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .rs::after {
    position: absolute;
    
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }


  .marker {
    border: 1px solid transparent;
    color: #333;
    font-size: 9px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}       

.tick {
    color: #ccc;
    font-size: 11px;
    height: 11px;
    left: 0;
    line-height: 11px;
    margin-left: -24px;
    position: absolute;
    text-align: center;
    width: 48px;
}
