/* ----------------------------------------------- */
/* color:#e67e22 */
/* ----------------------------------------------- */
html,
body {
    background-color: #fff;
    color: #555;
    height: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
::-moz-selection {
    background-color: #0b0469;
    color: #fff;
}
::selection {
    background-color: #0b0469;
    color: #fff;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ----------------------------------------------- */
/* local created Animations*/
/* ----------------------------------------------- */

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* ----------------------------------------------- */
/* :PRE-LODER -- IMG+MODAL DIALOG */
/* ----------------------------------------------- */
.preload-img {
    position: fixed;
    text-align: center;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/Preloader_2.gif) center no-repeat #fff;
}
/*Modal*/
.container {
    width: 250px;
    height: 400px;
}
.popup-header {
    background-color:#33b5e5; 
    text-align: center;
    color: white;
}
.popup-footer {
    text-align: center;
}
.popup-btn {
    color: white;
    font-weight: normal;
    width: 100px;
    height: 50px;
    text-decoration: none;
    border: none;
    outline: none;
    background: #33b5e5;
    border-radius: 11px;
}
.p_content{
    font-weight: 100;
    font-size: 18px;
}

/* scoll bar when popup is not in same screen */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
/*scroll-bar override*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #33b5e5;
}

/* ----------------------------------------------- */
/* ONE PAge silder */
/* ----------------------------------------------- */
.section{
  text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section1,
#section2,
#section3{
  background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section1{
  background : -webkit-gradient(linear,left top, left bottom,from(white),to(white));
  background : linear-gradient(white,white);
}
#section2{
  background-image: url(img/2.jpg);
  
}
#section3{
  background-image: url(img/3.jpg);
 
}
#section4 {
  background-image: url(img/4.jpg);
 
}


#section2 .intro{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 30px;
}
#section2 h1,
#section2 p{
  text-shadow: 1px 5px 20px #000;
}

#section3 h1,
#section3 p{
  text-shadow: 1px 5px 20px #000;
  color: #fff;
}


/*Header -->Horizontal nav*/
nav {
  /*indext must be more then 1 */
  z-index: 100;
  height: auto;
  width: 100%;
  color: auto;
  position: absolute;
  
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black { 
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  width: auto;
  margin-top: 40px;
  margin-right: 15px;
  font-size: 145%;
  -webkit-transform: translateX(15%);
  transform: translateX(15%);
}
.main-nav li {
  font-size: larger;
  display: inline-block;
  margin-left: 35px;

}
.main-nav li a:hover {
  color: #555;
}
/*Sticky-nav-bar */
.sticky  {
  position: fixed;
  height: 100%;
  top: 0;
  right:  0;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(233, 222, 222, 0.98);
  -webkit-box-shadow: 0 5px 5px #efefef;
  box-shadow: 0 5px 5px #efefef;
  padding-top: 60px;
  z-index: 110;
}

  .menu-btn {
    display: none;
    font-size: 100%;
    height: 25px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    
}

.sticky a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sticky a:hover {
  color: #f1f1f1;
}

.sticky-close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sticky-nav-logo {
  display: block;
  width: 100%
}
.sticky-nav-logo img {
  text-align: center;
  width: auto;
  margin-top: 2px;
  margin-bottom: 8px;
  margin-left: 150px;
  margin-right: 150px;
  
}
.list-link {
  width: 100%;
  margin-top: 60px;
  max-height: calc(50vh - 100px);
  overflow-y: auto;
}
.list-link li{
  list-style: none;
}
.sticky-email-bar {
  margin: 25px;
}
.sticky-email-bar a {
  text-align: center;
}

.sticky-detais {
  margin: 5px 5px;
}
.sticky-detais span {
  display: block;
  text-align: center;
  margin: 3px;
}
.sticky-social-list{
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
.sticky-social-list li {
  list-style: none;
 
  display: inline-block;
}


/* ----------------------------------------------- */
/* fOOTER */
/* ----------------------------------------------- */
.footer {
  position: absolute;
  
  bottom: 4.5%;
  width: 100%;
  height: 5px; 
  color: #000;
  z-index: 1502;
  text-align: center;
}
.footer p {
  font-size: 80%;
  color: #fff;
}
/* ----------------------------------------------- */
/* Page One all Element Setup  */
/* ----------------------------------------------- */
.pg-1-all-text {
  position: relative;
  line-height: 1.714;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 18px;
}
.scroll-logo img {
  
  height: 100px;
}
.pg-1-all-text{
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  left: 0;
  right: 0;
  color: #555;
}
.pg-1-all-text-1{
    padding: 0;
    margin-bottom: 5px;
    font-size: 25px;
    top: 20%;
    color: rgb(163, 160, 160);
}
.pg-1-all-text-1:after {
  display: block;
  height: 2px;
  background-color: #33b5e5;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}

.pg-1-all-text-2{
  top: 32%;
  font-size: 35px;
  color: #33b5e5;
}
.pg-1-all-text-3{
  font-size: 35px;
  top: 41%;
  color: #33b5e5;
}
.pg-1-all-text-4{
  top: 51%;
  color: #33b5e5;
}
.pg-1-all-text-5{
  top: 60%;
  color: #ffffff;
}     
.pg-1-all-text-6{
  top: 70%;
  color: #33b5e5;
}     

/*Button Logic + animations of the Btn*/
.btn--animated {
  -webkit-animation: moveInBottom .7s ease-out .75s;
  animation: moveInBottom .7s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s; }


.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 50px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 25px;
  border: none;
  cursor: pointer; }

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(24, 61, 224, 0.212);
  box-shadow: 0 5px 10px rgba(24, 61, 224, 0.212);
 }
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; 
  }
.btn:active, .btn:focus 
{
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1px rgba(0, 0, 0, 0.2);
 }

.btn--white {
  background-color: #33b5e5;
  color: rgb(255, 255, 255); }
  .btn--white::after {
    background-color: #33b5e5; }
.btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 25PX;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: all .4s;
      transition: all .4s; 
}
